# Python: 문자열 처리
- 검색, 분리, 추출, 대체, 결합, 공백처리
- 문자열의 기본 자료구조는 배열
- 1,2 4바이트:

정규표현식(Regular Expression, RE): 모든 언어에서 똑같은 방식으로 처리
- 패턴으로 처리

In [1]:
smiles = 'C(=N)(N)N.C(=0)(0)0' # 1차원 배열
print(smiles[0])
print(smiles[1])
print(smiles[-1])
print(smiles[1:5])
print(smiles[10:-4])

In [2]:
s = 'That that is is that that is' # 문자열에서 대소문자 구분
print(s.count("t")) # 't' 갯수 세기
s = s.lower() # 소문자
print(s)
print(s.count("that"))
s.find('is') # 단어별

In [3]:
# ASCII code 95 = a
print('C:\\nowhere')
print(r'C:\\nowhere') # 정규표현식 # 3버전은 기본적으로 유니코드
print(u'Hello, world!') # unicode 2.7 버전

In [4]:
# PANDAS도 문자열 함수 지원
import pandas as pd
monte = pd.Series(['Araham Chapman', 'John Cleese', 'Terry Gilliam','Eric Idle', 'Terry Jones', 'Michael Palin'])

In [5]:
monte.str.lower()

0    araham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [6]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [7]:
monte.str.split()

0    [Araham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [8]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [9]:
# 정규표현식
# [] : 선택
# 추출
monte.str.extract('([A-Za-z]+)', expand=False)

0     Araham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [10]:
###########################################################################################################################재확인
# 정규표현식 앞의 r은 re 모듈을 사용할 때 패턴을 미리 컴파일 하는 것
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0                 []
1                 []
2    [Terry Gilliam]
3                 []
4      [Terry Jones]
5    [Michael Palin]
dtype: object

In [11]:
monte.str.findall(r'^[^.G].*[^aeiou]$')

0    [Araham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [ ]:
.	문자	1개의 문자와 일치한다. 단일행 모드에서는 새줄 문자를 제외한다.
[ ]	문자 클래스	"["과 "]" 사이의 문자 중 하나를 선택한다. "¦"를 여러 개 쓴 것과 같은 의미이다. 예를 들면 [abc]d는 ad, bd, cd를 뜻한다. 또한, "-" 기호와 함께 쓰면 범위를 지정할 수 있다. "[a-z]"는 a부터 z까지 중 하나, "[1-9]"는 1부터 9까지 중의 하나를 의미한다.
[^ ]	부정	문자 클래스 안의 문자를 제외한 나머지를 선택한다. 예를 들면 [^abc]d는 ad, bd, cd는 포함하지 않고 ed, fd 등을 포함한다. [^a-z]는 알파벳 소문자로 시작하지 않는 모든 문자를 의미한다.
^	처음	문자열이나 행의 처음을 의미한다.
$	끝	문자열이나 행의 끝을 의미한다.
( )	하위식	여러 식을 하나로 묶을 수 있다. "abc¦adc"와 "a(b¦d)c"는 같은 의미를 가진다.
\n	일치하는 n번째 패턴	일치하는 패턴들 중 n번째를 선택하며, 여기에서 n은 1에서 9 중 하나가 올 수 있다.
*	0회 이상	0개 이상의 문자를 포함한다. "a*b"는 "b", "ab", "aab", "aaab"를 포함한다.
{m, n}	m회 이상 n회 이하	"a{1,3}b"는 "ab", "aab", "aaab"를 포함하지만, "b"나 "aaaab"는 포함하지 않는다.

?	0 또는 1회	"a?b"는 "b", "ab"를 포함한다.
+	1회 이상	"a+b"는 "ab", "aab", "aaab"를 포함하지만 "b"는 포함하지 않는다.
¦	선택	여러 식 중에서 하나를 선택한다. 예를 들어, "abc¦adc"는 abc와 adc 문자열을 모두 포함한다.

https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D

In [12]:
import re
text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'
# \d: 숫자 한 개
# {}: 개수
# 패턴을 컴파일
regex = re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')
regex = re.compile(r'(\d{3}-(\d{3}-\d{4}))') # 하나의 단위로()
matchobj = regex.search(text)
phonenumber = matchobj.group() # 여러개가 나오는 상황
print(phonenumber)

032-232-3245

In [13]:
import numpy as np
s4 = pd.Series(['A','B','C','Aaba','Baca', np.nan, 'CABA','dog','cat'])
s4.str.contains('A', na=False)

0     True
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
dtype: bool

In [14]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

import re

data={'Dave':'iadslba@naver.com', 'Steve':'steve@gmail.com', 'Rob':'rob', 'Wes':np.nan}
data=Series(data)
print(data)

Dave     iadslba@naver.com
Steve      steve@gmail.com
Rob                    rob
Wes                    NaN
dtype: object

In [15]:
print(data.isnull())
print("네이버", data.str.contains('naver'))

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool
네이버 Dave      True
Steve    False
Rob      False
Wes        NaN
dtype: object

In [16]:
# r: regex로 분석
# 정규표현식에서의 .(period)은 한개
# 정규표현식 앞에 '\'를 붙이면 그 문자 그대로를 의미함
pattern = r'[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]'
matches = data.str.match(pattern, flags = re.IGNORECASE) # 대소문자를 구분하지 마라

In [17]:
# one-hot-encoding(가변수)
# 이항변수화(binarization)는 '0'과 '1'의 값만을 가지는 가변수(dummy variable)를 만드는 것
s = pd.Series(['a', 'a|b', np.nan, 'a|c'])
print(s)
s.str.get_dummies(sep='|')

0      a
1    a|b
2    NaN
3    a|c
dtype: object

   a  b  c
0  1  0  0
1  1  1  0
2  0  0  0
3  1  0  1

In [18]:
# 함수를 매개변수로 전달할 때는 함수 실행이 아니고 함수 위치를 전달하는 것
df = pd.DataFrame(['한글','미국','일본?'], columns=['text'])
# 파생변수 (mutate)
df['text_length'] = df['text'].map(len) # 시리즈에 함수 적용
print(df)

  text  text_length
0   한글            2
1   미국            2
2  일본?            3

In [19]:
data = {'name': ['하늘이', '찬호박','우리야','함께가','하성공'],
        'age': [40,50,30,20,70],
        'preScore': [14,28,39,25,32],
        'postScore': [20,90,55,65,79]}
df = pd.DataFrame(data,columns = ['name', 'age','preScore','postScore'])
df
print(df['age'].sum())
print(df['preScore'].mean())
print(df['preScore'].cumsum()) # 누적합
print('데이터 설명')
print(df['preScore'].describe())
print('데이터 끝')
print(df['preScore'].var())
print(df['preScore'].std())
print(df['preScore'].skew()) # 표본 비대칭도 - skewness(왜도) 
print(df['preScore'].kurt()) # 표본 첨도

210
27.6
0     14
1     42
2     81
3    106
4    138
Name: preScore, dtype: int64
데이터 설명
count     5.0000
mean     27.6000
std       9.2358
min      14.0000
25%      25.0000
50%      28.0000
75%      32.0000
max      39.0000
Name: preScore, dtype: float64
데이터 끝
85.30000000000001
9.235799911215056
-0.5110345040062979
0.8509652849263816

In [20]:
df = pd.DataFrame({'two' : pd.Series(np.random.randn(3),   index=['c', 'b', 'a']),
                   'one' : pd.Series(np.random.randn(4),   index=['d', 'b', 'c', 'a']),
                   'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})
print(df)
row = df.iloc[1] # 한 행 데이터
print()
print(row)
print()
column = df['two']
print(column)
# 4 x 3

        two       one     three
a -1.549386 -0.982778       NaN
b  0.038376  0.804067 -0.237273
c -0.130338 -2.263898  1.070891
d       NaN -0.025948  0.183879

two      0.038376
one      0.804067
three   -0.237273
Name: b, dtype: float64

a   -1.549386
b    0.038376
c   -0.130338
d         NaN
Name: two, dtype: float64

In [21]:
# 판다스는 열중심 - 열끼리의 상관계수
print(df.corr()) # correlation (상관계수 행렬)
# 행과 열의 이름은 열변수이름 3행
# 부적상관(역상관)
# 정적상관
# 상관계수행렬은 정방행렬, 대칭행렬 => 고유값분해
- 고유값 + 고유벡터(3,): 방향축간에 서로 직교

SyntaxError: invalid syntax (<ipython-input-21-79654e81b77a>, line 7)

In [ ]:
print(df.cov()) # covariance 공분산행렬: (x - xbar)*(y - ybar) / (n-1, 자유도)

In [ ]:
df1 = pd.DataFrame({'col':['foo', 0, np.nan]})
df2 = pd.DataFrame({'col':[np.nan, 0, 'foo']}, index=[2,1,0])
df3 = pd.DataFrame({'col':[1, 2, 3]}, index=[2,1,0]) 
print(df1)
print(df2)
print(df3)

In [ ]:
# print(df2.sort_values(by=['col'])) # 정렬기준이 안맞음
print(df3.sort_values(by=['col'])) # 'col' 컬럼에 따라 값 정렬

In [ ]:
print(df2.sort_index()) # 인덱스 순서로 정렬

In [ ]:
# seaborn은 matplotlib을 기반으로 작동하는 시각화 패키지
# %matplotlib inline : notebook을 실행한 브라우저에서 바로 그림을 볼 수 있게 해주는 것
%matplotlib inline 
import seaborn as sns
import matplotlib.pyplot as plt
print(iris)
iris = sns.load_dataset('iris') # 변수 (마지막 변수: 종류)
iris.head()
iris.sepal_length[:20].plot(kind = 'bar', rot=0) # rotate
plt.show()

In [ ]:
############################################################################################################
import pandas as pd
names = ['한국성','공하자','희망이','꿈꾼다','아리랑']
births = [25,30,38,28,31]
BabyDataSet = list(zip(names,births))
print(BabyDataSet)

df=pd.DataFrame(data = BabyDataSet, columns = ['Names','Births'])
print(df)
# 인덱스 저장 => 열로 나타남
# 로딩할 때 인덱스로 지정할 열을 지정 가능
df.to_csv('birth2020.csv', index = False, header = True, encoding = 'UTF-8') # 열이름
Location = './births2020.csv'
# C:\Users\ICT01_20\Downloads
df = pd.read_csv(Location) # 자동으로 데이터 프레임 생성
print(df)
df = pd.read_csv(Location, names =['Names', 'Births'],
                encoding = 'UTF-8')

In [ ]:
pim = pd.read_csv("diab.csv")
pim

In [ ]:
print(pim.describe())

In [ ]:
print(pim.apply(type))

In [ ]:
# 행열별로 요소 적용
pim.applymap(type).head(1)

In [ ]:
pim.dtypes

In [ ]:
print("데이터 갯수", pim.count())
print(pim.shape)
print(pim[pim["bmi"]<30].shape)
print(pim.mean) # 열별로 평균

In [ ]:
import matplotlib.pyplot as plt
pim['bmi'].hist() # histogram(부동소수점: float)과 barplot(이산적: 정수)의 차이
plt.show()
pim['bmi'].plot(kind = 'kde') # interpolation (보간법): estimator
plt.show()

In [ ]:
print(pim.head())

In [ ]:
pim.groupby("type") # DataFrameGroupBy 내부적으로 표현

In [ ]:
# 집계함수 sum(), mean(), median(), max(), min(), last()
pim.groupby('type').mean()

In [ ]:
pim.groupby('type').count()

In [ ]:
grouped_by_type = pim.groupby("type")
grouped_by_type.mean()
grouped_by_type.max()

In [ ]:
import numpy as np
grouped_by_type.agg([np.mean, np.std])

In [ ]:
print(np.mean(pim[pim["type"]=='Yes']['skin']))

In [ ]:
print(np.std(pim[pim["type"]=='Yes']['skin']))

In [ ]:
# pandas는 시계열 분석 지원, DateTimeIndex 지원 - 인덱스를 사용하면 검색이 빠르다
weather_2012_final = pd.read_csv("we_2012.csv")
weather_2012_final

In [ ]:
# 시간데이터 DatetimeIndex를 만드는 방법
# date_range() # 일정한 주기와 기간을 정해서 생성할 때
# to_datetime() # 기존에 있는 시간 데이터를 변환

In [ ]:
index = pd.to_datetime(weather_2012_final["Date/Time"])
weather_2012_final.index = index

In [ ]:
weather_2012_final.head()

In [ ]:
del(weather_2012_final["Date/Time"])
print(weather_2012_final.shape)
print(weather_2012_final.head(3))

In [ ]:
bigFilePath = 'we_2012.csv'
chunker = pd.read_csv(bigFilePath,chunksize=1000,
                     index_col = 'Date/Time', encoding = 'UTF-8')
weather_2012_final = pd.concat([x for x in chunker],
                              ignore_index=True)

In [ ]:
print(weather_2012_final.describe())
weather_2012_final.dtypes

In [ ]:
weather_2012_final['Temp (C)'].plot(figsize=(30,12))

In [ ]:
weather_2012_final.boxplot()

In [ ]:
print("결측치", weather_2012_final.count())

In [ ]:
print(weather_2012_final.isnull().values.sum()) # null 개수

In [ ]:
print(weather_2012_final.isnull().any()) # 하나라도 null

In [ ]:
# axis =1 좌우로 결측치 제거
weather_2012_final = weather_2012_final.dropna(axis = 1, how = 'any')

In [ ]:
# 각 변수의 min-max 값의 차를 출력하시오 (함수)
weather_2012_final.head()

In [ ]:
weather_2012_final.dtypes

In [ ]:
f = lambda x: x.max() - x.min()
weather_2012_final_num = weather_2012_final.iloc[:, :6]
print("함수 객체의 열 적용(행방향)", weather_2012_final_num.apply(f))

In [ ]:
# ptp (point to point): min-max
print("함수 객체의 열 적용(행방향)", weather_2012_final_num.apply(np.ptp))

In [ ]:
import glob
import os
import pandas as pd
filePathList = glob.glob("./same__files/*.csv")
print(filePathList)
temp = os.path.basename(filePathList[0]) # 파일.확장자
print(temp) # 1763.csv

temp = os.path.splitext(temp)[0]
print(temp)
os.path.splitext(temp)

In [ ]:
for i in range(0, len(filePathList)):
    temp = os.path.basename(filePathList[i])
    temp = os.path.splitext(temp)[0]
    vars()["data_" + str(temp)] = pd.read_csv(filePathList[i])

In [ ]:
# data_1763 이라는 변수로 리딩:
# vars() 메모리에 있는 변수들
print(data_1763.head(3))
print(data_1770.shape)

In [ ]:
df = pd.read_csv("./sales.csv")
df
# 1) 정수 -> 부동소수점으로 인식
# 2) $를 제거, ㅡ
# 3) %를 제거
# 4) 숫자에 문자 제거
# 5) Y: 1, N: 0 를 .boolean형으로 변경해야함

In [ ]:
df.dtypes

In [ ]:
df['Customer Number'] = df['Customer Number'].astype('int')

In [ ]:
df['2017'] = df['2017'].map(lambda x: x.replace('$',''))
df['2017'] = df['2017'].map(lambda x: x.replace(',',''))
df['2017'] = df['2017'].astype('float')
df['2016'] = df['2016'].str.replace("$","")
df['2016'] = df['2016'].str.replace(",","")
df['2016'] = df['2016'].astype('float')

In [ ]:
df['Active'] = df['Active'] == 'Y'

In [ ]:
def convert_percent(val):
    new_val = val.replace('%', '')
    return float(new_val) / 100
df['Percent Growth'] = df['Percent Growth'].map(convert_percent)

In [ ]:
# 문자하고 숫자가 있는 경우
df['Jan Units'] = pd.to_numeric(df['Jan Units'],
                               errors = 'coerce') # ignore, raise

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
# gender 열과 resident열을 출력하시오
# price는 평균, age는 합계를 계산하시오
df = pd.read_csv("./dataset.csv", encoding='utf-8')
print(df.head())
# df['position']
print(df.columns.tolist())

In [ ]:
df.columns = df.columns.str.strip() # 공백제거 lstrip(), rstrip()
print(df.columns.tolist())
print(df.describe())

In [ ]:
df.dtypes

In [ ]:
df["age"] = pd.to_numeric(df['age'], error = 'ignore')

In [ ]:
df['price'] = df['price'].astype(str).str.strip()
df['price'].fillna('', inplace = True) # na
df["price"] = pd.to_numeric(df['price'], error = 'ignore')

In [ ]:
df['price'].mean()

In [ ]:
df['price'].sum()

In [ ]:
import pymysql
import numpy
import pandas as pd

In [ ]:
conn = pymysql.connect(host='192.168.1.232', port=3306, user = 'root', 
                       passwd='123456!', db = 'acornschool', charset = 'utf8mb4', cursorclass=pymysql.cursors.DictCursor)

In [ ]:
cursor = conn.cursor()
cursor.execute('select * from sungjuk') # recordset
rez = cursor.fetchall() # list
rez

In [ ]:
# 판다스 데이터프레임으로 만들기
df = pd.DataFrame(rez)
print(df.describe())
print(df.dtypes)
print(df.shape)

In [ ]:
%matplotlib inline
df.plot.bar()

In [ ]:
df_numeric = df[['eng', 'kor','mat']]
print(type(df_numeric))
print(df_numeric.dtypes)
df_numeric.apply([sum,max])

In [ ]:
df_numeric.apply([sum,max], axis = 1)

# 문제:
- 학년과 반 필드를 추가하라
- 학년과 반 정보가 입력하고 학년 반 별 평균을 출력하도록 한다.

In [ ]:
df_numeric['ban'] = [1,2,1,2,1,2,2]
df_numeric['class'] = [1,1,1,2,2,2,2]

In [ ]:
# groupby와 pivot_table의 차이 알아보기!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
pd.pivot_table(df_numeric, index = ['ban'],
              columns = ['kor', 'eng', 'mat'], aggfunc = [np.mean])

In [ ]:
# db 저장시 이미 테이블이 존재하는 경우:
- fail, replace, append(기존 테이블에 추가)
- 데이터 베이스는 생성이 되어 있어야 함

In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
from sqlalchemy import create_engine
import pymysql
import numpy as np
import pandas as pd
pymysql.install_as_MySQLdb()
import MySQLdb

In [ ]:
# 연결부
engine = create_engine(
    "mysql+mysqldb://root:"+"123456!"+"@192.168.1.232/acornschool", encoding = 'utf-8')
conn = engine.connect()

In [ ]:
titanic.to_sql(name = 'titanic', con = engine, if_exists = 'replace', index = False)

In [ ]:
SQL = 'DESC titanic'
df = pd.read_sql(SQL,conn)
df

In [ ]:
# 와인 데이터를 로딩한 다음 => 데이터베이스에 wine이라는 테이블 이름으로 저장하고 다시 읽어오시오
wine = pd.read_csv("./wine.csv", encoding='utf-8', index_col = '0')
wine

In [ ]:
from sqlalchemy import create_engine
import pymysql
import numpy as np
import pandas as pd
pymysql.install_as_MySQLdb()
import MySQLdb

In [ ]:
engine = create_engine(
    "mysql+mysqldb://root:"+"123456!"+"@192.168.1.232/acornschool", encoding = 'utf-8')
conn = engine.connect()

In [ ]:
wine.to_sql(name = 'wine', con = engine, if_exists = 'replace', index = False)
SQL = 'wine'
df = pd.read_sql(SQL,conn)
df

In [ ]:
# 와인 3가지
samples = pd.read_csv("wine.csv", index_col = 0)
print(samples.head())

In [ ]:
varieties = pd.DataFrame(samples.iloc[:0])
varieties['0'].unique()

In [ ]:
samples.to_sql(name='wine', con=engine, if_exists = 'replace', index = False)

In [ ]:
SQL = 'select * from wine'
samples = pd.read_sql(SQL, conn)
samples.head()

In [ ]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 3) # 군집
# fit 모델을 생성 _ predict 예측
varieties['labels'] = kmeans.fit_predict(samples) # 예측은 0부터
varieties['labels']

In [ ]:
varieties['labels'] += 1
# 교차분석표 (카운트를 해서)
pd.crosstab(varieties.iloc[:,0], varieties['labels'])
# 100가 일치한다.

In [ ]:
import requests # 웹페이지 획득 (웹브라우저)
import pandas as pd
from bs4 import BeautifulSoup  # HTML tag를 파싱해서 계층적으로 데이터 보유
import re

In [ ]:
class HTMLTableParser:
    def parse_url(self, url):
        response = requests.get(url) # http://www.naver.com # 서버에서 갖고 있는 문서 그대로 가져옴
        soup = BeautifulSoup(response.text, 'html.parser') # HTML tag를 파싱해서 계층적으로 데이터 보유
        # HTML 태그 ID(웹페이지에서 유일), name(중복, 서버)
        return [(table('id'), self.parse_html_table(table))
               for table in soup.find_all('table')]
    
    def parse_html_table(self, table):
        n_columns = 0 # 몇 열 => 저장공간 확보
        n_rows = 0 # 몇 행
        column_names = [] # 열이름 저장
        for row in table.find_all('tr'): # 7 #https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro
            td_tags = row.find_all('td') # 3
            if len(td_tags) > 0:
                n_rows += 1 # 행 수 카운트
                if n_columns == 0: # 첫 행이면
                    n_columns = len(td_tags) # 열 개수 결정
            th_tags = row.find_all('th') 
            if len(th_tags) > 0 and len(column_names) == 0:
                for th in th_tags: # 컬럼 이름 결정
                    column_names.append(th.get_text()) # 이름 가져오기
                    
        if len(column_names) > 0 and len(column_names) != n_columns:
            raise Exception("컬럼 타이틀 컬럼 숫자와 안맞음") # 강제로 예외 발생
        columns = column_names if len(column_names) > 0 else range(0,n_columns) # if 문자로 컬럼이름 else 숫자로 컬럼이름
        df = pd.DataFrame(columns = columns, index = range(0,n_rows)) # 저장공간 확보
        row_marker = 0 # 행 수에 따라
        for row in table.find_all('tr'):
            column_marker = 0 # 열 수에 따라
            columns = row.find_all('td')
            for column in columns:
                re_text = column.get_text().replace('\n','')
                re_text = re_text.replace('\t', '')
                re_text = re_text.replace('\r', '')
                df.iloc[row_marker,column_marker] = re_text
                column_marker += 1
            if len(columns) > 0: # 아직도 데이터가 있다는 말, 그렇다면~
                row_marker += 1 # => 행 추가
        for col in df: # 채워진 데이터에서
            try: # 타입 변경
                df[col] = df[col].astype(float) # 숫자형으로 변경
            except ValueError:
                pass
        return df

In [ ]:
# http://dart.fss.or.kr/
date = "2020.01.02"
url_part1 = """http://dart.fss.or.kr/dsac001/search.ax?selectDate="""
url_part2 = """&sort=&series=&mdayCnt=0&currentPage=""" 

url = url_part1 + date + url_part2
hp = HTMLTableParser()
table = hp.parse_url(url)[0][1]
table

In [ ]:
# table로 구성된 페이지를 찾아서 일반적으로 위의 클래스가 작동하는지 확인하고,
# 실제 파싱한 데이터를 DB에 저장하고 로딩하는 프로그램을 작성하시오

url = """https://www.jeju.go.kr/industry/businesssupport/traditional.htm"""
hp = HTMLTableParser()
table = hp.parse_url(url)[0][1]
table

In [ ]:
from sqlalchemy import create_engine
import pymysql
import numpy as np
import pandas as pd
pymysql.install_as_MySQLdb()
import MySQLdb

engine = create_engine(
    "mysql+mysqldb://root:"+"123456!"+"@192.168.1.232/acornschool", encoding = 'utf-8')
conn = engine.connect()

In [ ]:
table.to_sql(name = 'market', con = engine, if_exists = 'replace', index = False)
SQL = 'market'
df = pd.read_sql(SQL,conn)
df

In [ ]:
SQL = 'select * from market'
samples = pd.read_sql(SQL, conn)
samples.head()